#ticket_page {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 0 10vw;
    margin-top: 10px;
    min-height: calc(100vh - 60px);
}

#ticket_page h2 {
    color: var(--primary);
}

#ticket_details,
#ticket_notes {
    background-color: var(--surface);
    border-radius: 10px;
    padding: 10px;
}

#ticket_details {
    flex: 1 1 70%;
}

#td_header {
    border-bottom: 3px solid var(--background)
}

#td_header>span {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 7px;
}

#ticket_page button {
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    margin-left: 10px;
    padding: 5px;
    transition: all 0.2s linear;
    width: 100px;
}

.tedit_btn {
    background-color: var(--primary);
    color: var(--on-primary);
}

.tdelete_btn {
    background-color: var(--secondary);
    color: var(--on-primary);
}

.tedit_btn:hover {
    background-color: var(--primary-hover);
}

.tdelete_btn:hover {
    background-color: var(--secondary-hover);
}

#tdh_bot {
    color: var()
}

#td_images button {
    background-color: var(--primary);
    border: none;
    border-radius: 100px;
    color: var(--on-primary);
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    padding: 5px 10px;
    transition: all 0.2s linear;
    width: fit-content;
}

#td_images button:hover {
    background-color: var(--primary-hover);
}

#td_images span {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 10px 0;
}

#ticket_notes {
    flex: 1 1 30%;
}