.ticket_list {
    background-color: var(--surface);
    border-radius: 5px;
    padding: 10px;
}
.tl_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}
.ticket_card {
    align-items: center;
    display:flex;
    justify-items: flex-start;
    border: 4px solid var(--background);
}
.tpriority {
    align-items: center;
    background-color: var(--secondary);
    color: var(--on-secondary);
    display: flex;
    font-size: 2em;
    height: 50px;
    justify-content: center;
    width: 25px;
}
.ticket_details {
    align-items: flex-start;
    display:flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
    padding: 5px;
    width: 100%
}
.tc_update_status {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.tcus_active {}
.tcus_active {}
