@font-face {
    font-family: brushScriptStd;
    src: url(../public/BrushScriptStd.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --background: #222831;
    --surface: #393e46;
    --primary: #ffd369;
    --primary-hover: #ffd87d;
    --secondary: #d32f2f;
    --secondary-hover: #d44949;
    --on-background: #eeeeee;
    --on-primary: var(--surface);
    --on-secondary: var(--background);
}

body {
    background-color: var(--background);
    color: var(--on-background);
    font-family: sans-serif;
    overflow-x: hidden;
}
a {
    color: var(--primary);
    text-decoration: none;
}
a:visited {
    color: var(--secondary);
}

.primary {
    color: var(--primary);
}
.secondary {
    color: var(--secondary);
}